

@keyframes appear{
    from{
        opacity: 0;scale: 0.5;
    }
    to{
        opacity: 1;scale: 1;
    }   
}

@keyframes switch {

    from{left: 0%;}
    to{left:50%}
    
}

.animation-appear {
    animation: appear 1s linear forwards; /* Use 'forwards' to maintain final state */
    animation-timeline: view();
    animation-range: entry 0; /* Triggers when the element enters the viewport */
}

.animation-disappear {
    animation: appear 1s linear reverse;
    animation-timeline: view();
    animation-range: exit 0; 
}
    
#sidebar>.column{
    margin-top: 4vh;
    padding: 2.5vh 1.5vh;
    padding-bottom: 0vh;
    height: 100vh;
}

#sidebar a{
    margin-bottom: 2vh;
    text-shadow: 1px 1px rgba(255,255,255,0.2);
    transition: all 0.3s ease;
}

#sidebar a:hover{
    font-size: larger;
    cursor: pointer;
}

#filterMenu>.column{
    border-right: 1px solid black;
    padding: 1vh;
    font-size: large;
    font-weight: 700;
    height: 18vh;
}

#filterMenu>.column>label{
    font-size: medium;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

#filterMenu>.column>label>input{
    margin-right: 1vh;
}

.productCard:hover>.productInfo{
    opacity: 1;
}

/* only for homepage */


.slider .productInfo{
    opacity: 0;
    border-radius: 0px 0px 15px 15px;
    height:21vh;
    background-color: rgba(255,255,255,0.2);

}

.slider .productPriceFast{
    margin-top: 1vh;
    margin-left: 1vh;
    width: max-content;
    padding-left:1vw ;
    padding-right: 1vw;
    border-radius: 100px;
    font-size: 2.5vh;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(20px);
    color: rgba(0,0,0,0.7);
}


/* userpage */

#switchHiglight{
    left:0%;
    animation: switch 1s ease reverse;
}

#switchCheckbox:checked+#switchHiglight{
    left:50%;
    animation: switch 1s ease;
}

#rating img{
    max-height: 3vh;
    margin-right: 0.2rem;
}



/* reusables */

.generic-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

input[type="checkbox"]{
    width: fit-content;
}

.wip{
    display: flex;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    top:0;
    left:0;
    padding: 2vh 5vh;
    backdrop-filter: blur(5px);
    color: white;
    align-items: center;
    justify-content: center;
    font-size: larger;
}





/* product form */
#mainImagePreview:hover>div{
    opacity: 1;
}

.custom-select>label{
    border-bottom: 1px solid black;
}


/*payment form*/
#paymentForm input{
    border-bottom: 1px solid black;
}

#paymentForm input:focus{
    border-bottom: 1px solid #00509E;
    transition: all .3s ease;
    outline: none;
}

#paymentForm input:focus+label{
    color: #00509E;
    transition: all .3s ease;

}

#reviewForm input[type="number"]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: 0;

}