{% extends 'bases/base.html.twig' %}

{% block title %}
    FS
{% endblock %}

{% block body %}
    <div class="centered background accessPage" >
        {% block alert %}
        {% endblock %}
        <div class="std-container column centered py-5 px-9 w-fit">

            <h1 class="text-4xl font-semibold mb-4">FootwearShop</h1>

            {% block content %}
            {% endblock %}
        </div>
        </div>
    
    </div>
</body>
{% endblock %}