<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{asset('/build/images/logo.d2eadc4e.png')}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    
        {% block style %}
        {% endblock %}
    
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
