{% extends 'bases/page_frame.html.twig' %}

{% block content %}

    <div class="column size-full p-2 centered">
        <div id="chat" class="column h-[45vh] centered w-9/12 std-container">
        </div>
    </div>

{% endblock %}
