<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Slideshow</title>
    <link rel="stylesheet" href="CSS/mainStyle.css">
    <link rel="stylesheet" href="CSS/home.css">
</head>
<body>
    <div class="sidebar" class="center">
        <a href="#">Home</a>
        <a href="#">Best Seller</a>
        <a href="#">For You</a>
        <a href="#">Man</a>
        <a href="#">Women</a>
        <a href="#">Child</a>
    </div>
    <div class="content">
        <div class="section">
            <div class="title">Best Seller</div>
            <div class="slideshow-container">
                <div class="product">
                    <img class="image" src="Images\scarpa.jpg" alt="Image 2"></img>
                    <div class="product-info">
                        <h6>niga</h6>
                    </div>
                </div>
                <div class="product">
                    <img class="image" src="Images\scarpa.jpg" alt="Image 2"></img>
                    <div class="product-info">
                        <h6>niga</h6>
                    </div>
                </div>
                <div class="product">
                    <img class="image" src="Images\scarpa.jpg" alt="Image 2"></img>
                    <div class="product-info">
                        <h6>niga</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>For You</h2>
            <div class="slideshow-container">
                <img class="image" src="Images\scarpa.jpg" alt="Image 2"></img>
                <img class="image" src="Images\scarpa.jpg" alt="Image 2"></img>
                <img class="image" src="Images\scarpa.jpg" alt="Image 2"></img>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>