{% extends 'bases/page_frame.html.twig' %}



{% block content %}




<div class="column centered">

    {% include 'components/carousel_component.html.twig' with {
        title: 'Popular',
        type: 'Popular',
        link: 'populars'
    } %}

    {% include 'components/carousel_component.html.twig' with {
        
        title: 'For you',
        type: 'Fy',
        link: 'fy'
            } %}

</div>

{% endblock %}




