{% extends 'pageFrame.html.twig' %}

{% block style %}
<style>
    .container{
        width: 80vw;
        height: 43vh;
        margin: 1.5vh 0;
        font-size: 3vh;
        font-weight: 600;
    }
    .container>.aButton{
        font-size: medium;
    }

    .slideShowContainer{
        height: 30vh;
        margin-top: 3vh;
        margin-bottom: 1.5vh;

    }

    .slideShowContainer>img{
        height: 5vh;
        width: 5vh;
    }

    .aButton{
        height: 2.5vh;
        padding: 0vh;
    }

    .slideShowContainer2>:last-child{
        margin-right: 0vw;
    }

    .slideShowContainer2{
        width: 70vw;
        margin-left: 1vw;
        margin-right: 1vw;

    }


    .productCard:hover>.productInfo{
        opacity: 1;
    }


    .productCard{
    display:block;
    padding-right: 0;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    width: 33vh;
    height: 33vh;
    border-radius: 15px;
    margin-right: 1.5vw;
    border: 1px solid rgba(255,255,255,0.1);"
    }

    .productInfo{
        opacity: 0;
        border-radius: 0px 0px 15px 15px;
        margin-top: 7.1vh;
        height:21vh;
        background-color: rgba(255,255,255,0.2);
        backdrop-filter: blur(20px);
        padding: 0.5vh 1vh ;

    }

    .productPriceFast{
        margin-top: 1vh;
        margin-left: 1vh;
        width: max-content;
        padding-left:1vw ;
        padding-right: 1vw;
        border-radius: 100px;
        font-size: 2.5vh;
        background-color: rgba(255,255,255,0.2);
        backdrop-filter: blur(20px);
        color: rgba(0,0,0,0.7);
    }

    .productInfo>h1{
        font-size: 3vh; 
        margin-top: 0.5vh; 
        margin-bottom: 1vh;
        text-decoration: underline;
    }

    .productInfo>.user{
        font-size: 1.5vh;
        margin-top: 1vh;
        text-decoration: underline;
    }
    .aButton{
        margin-top: 3vh;
    }



</style>
{% endblock%}


{% block content %}
<div class="column center" style="width: 94vw">

    <div class="container column center">
        Popular
    
        <div class="slideShowContainer row center">
            <img id="goBackPopular" src="{{asset('/build/Images/circle-chevron-left-solid.a5e7fe27.png')}}" style="opacity: 0.5;">
            <div class="slideShowContainer2 row" id="popularSlideshow">

                

            </div>
        <img id="goForwardPopular" src="{{asset('/build/Images/circle-chevron-left-solid.a5e7fe27.png')}}" style="transform: rotate(180deg);">
        
            
        </div>
        <a class="aButton" href="/populars">See more</a>
    </div>

<div class="container column center">
        For you
        <div class="slideShowContainer row center">
            <img id="goBackFy" src="{{asset('/build/Images/circle-chevron-left-solid.a5e7fe27.png')}}" style="opacity: 0.5;">
            <div class="slideShowContainer2 row" id="fySlideshow">

                
            </div>
        <img id="goForwardFy" src="{{asset('/build/Images/circle-chevron-left-solid.a5e7fe27.png')}}" style="transform: rotate(180deg);">
        
            
        </div>
        <a class="aButton" href="/fyp">See more</a>
    </div>

{% endblock%}

