{% extends 'bases/page_frame.html.twig' %}


{% block content %}
    <div class="centered size-full centered " >
        <div class="std-container column centered w-fit h-fit px-3">
            <div>{{entity}} not found :(</div>
            <div> enjoy this dancing skeleton </div>
            <iframe src="https://giphy.com/embed/3ohhwfAa9rbXaZe86c"  height="500" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/dance-halloween-twerk-3ohhwfAa9rbXaZe86c"></a></p>
        </div>
    </div>
{% endblock %}