{% extends 'bases/page_frame.html.twig' %}


{% block content %}
    <div class="center size-full centered " >
        <div class="container column centered w-fit h-fit">
            <div>{{entity}} not found :(</div>
            <div> enjoy this dancing skeleton </div>
            <iframe src="https://giphy.com/embed/3ohhwfAa9rbXaZe86c" width="322" height="480" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/dance-halloween-twerk-3ohhwfAa9rbXaZe86c"></a></p>
        </div>
    </div>
{% endblock %}