{% extends 'bases/page_frame.html.twig' %}

{% block content %}
<div class="lg:h-[100vh] h-[85vh] w-full overflow-y-hidden">
<div id="scrollable-products" class="size-full lg:pt-10 pt-2 pl-10 overflow-y-hidden h-full">

</div>
<input type="hidden" id='page_name' value={{item.page_name}}>

{% if item.product_id is defined %}
    <div class="hidden">
        <div id="product_id">{{item.product_id}}</div>
    </div>
{% endif %}
</div>


{% endblock %}

