<div class="column">
    <label>Email</label>
    <div class="row">
        <img src="Images/envelope-regular.png">
        <input class="textInput" id="email" type="text" placeholder="placeholder@mail.com">
    </div>
</div>

<div class="column">
    <label>Username</label>
    <div class="row">
        <img src="Images/user-regular.png">
        <input class="textInput" id="userName" type="text" placeholder="">
    </div>
</div>

<div class="row">
    <div class="column">
        <label>Password</label>
        <div class="row">
            <img src="Images/key-solid.png">
            <input class="textInput" id="password" type="password" style="width: 10vw;">
        </div>
    </div>

    <div class="column" style="margin-left: 2vw;">
        <label> Confirm password</label>
        <div class="row">
            <img src="Images/key-solid.png">
            <input class="textInput" id="confirmPassword" type="password" style="width: 10vw;">
        </div>
    </div>
</div>