


<div class="slider std-container column centered lg:w-[80vw] w-[98%] p-4 mt-5">
    <h1 class="font-semibold text-4xl mb-2">{{title}}</h1>
    <div class="row centered w-full h-[33vh]" id="carousel{{type}}">
       
    </div>
    
        
    <a class="aButton h-max py-1 mt-2" href="/{{link}}">See more</a>
</div>
