{% extends 'bases/page_frame.html.twig' %}


{% block content %}
    <div class="centered size-full centered " >
        <div class="std-container column centered w-fit h-fit px-3">
            <div>we didn't find the page you requested sorry :(</div>
            <div class="text-sm"> (or maybe we are hiding it >:D ) </div>
            <div> Now forget all of this </div>
            <iframe src="https://giphy.com/embed/YAfCAzDS0WmwU"  height="500" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/slo-mo-hypnotoad-hypno-toad-YAfCAzDS0WmwU"></a></p></div>
    </div>
{% endblock %}